<div class="welcome_font_color">
    <div class="center">
        <h3>Hello Traveller</h3>
        <h1>Welcome to Been There Done That </h1>

        
        <%= button_to 'Register', signup_path, :method => :get %>
        <%= button_to 'Log In', login_path, :method => :get %> 
        </br>
        <%= button_to "Log In with Google", '/auth/google_oauth2' %>

    </div>
</div>