<h1> This Is The Show Page </h1>
    <%= @destination.city_state_country %>
    </br>
    </br>
    

<button><%= link_to "Edit Destination", edit_destination_path(@destination) %></button></br>
<button><%= link_to "Delete Destination", destination_path(@destination), method: "delete" %></button>
